* {
    background-color:#75A7B9;
    color: black;
}

header {
    background-color: rgb(98 77 50);
}
.headerimageleft{
    width:50%;
}
.headerimageright{
    width:50%;
}
 
@media only screen and (min-width: 601px){
    .blockstyle {
    display: flex;
}
}


footer {
    background-color: rgb(98 77 50);
}