/* import Google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1ede7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: black;
}

a {
    color: black;
}

/*header area*/
header {
    background-color: #006954;
    height: 250px;

}

header a {
    color: black;
}

.navbar-div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 15px;
}

.header-image-left {
    background: url("/assets/luna-pictures/cutedoglunagreeting.jpg") no-repeat center center / cover;
    width: 100%;
    height: 200px;
    padding: 0;
}

.header-image-right {
    background: url("/assets/luna-pictures/cutedoglunaballclose.jpg") no-repeat center center / cover;
    display: none;
    width: 100%;
    height: 200px;
}

#website-name {
    color: #fafafa;
}

#navbar-burger {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

.fa-solid {
    color: #fafafa;
}

#navbar-burger>li {
    margin-bottom: 1em;
    color: black;
}

/* Create a dropdown styled nav bar */
nav {
    position: absolute;
    display: none;
    background-color: #ffffff;
    width: 100%;
    right: 0;
    padding: 20px 1rem;
    top: 37px;

}

/* toggle layout for nav bar */

#navbar-toggle:checked~nav {

    display: block;

}

#navbar-toggle {

    display: none;

}

.navbar-toggle-label {

    font-size: 2rem;

}


/*Main Content*/
main {
    flex: 1 0 auto;
}

.intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 15px;
}

h2, h3 {
    text-align: center;
    padding: 10px 0;
}

.bold {
    font-weight: bold;
}

.homepage-text {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 25px 15px;
}

.homepage-text h1 {
    font-weight: 500;
    font-size: x-large;
    text-align: center;
}
#bio-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#bio-container:first-child {
    padding: 20px 10px 20px 0;
}
#bio-text {
    margin: 0 5px 15px 5px;
}

#owner-text {
    margin: 0 5px 15px 5px;
}

.service-box {
    margin: 15px 5px;
    border: 5px solid #715F58;
    background-color: #EFFCF8;
    padding: 15px 15px;
}

.image-container{
    width: 100%;
    max-width: 300px;
    height: auto;
}
.contact-page-button-align{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-page-button-box{
    padding: 20px 10px;
    border: 5px solid #715F58;
    margin: 10px;
    background-color: #EFFCF8;
    text-align: center;
    font-size: large;
    font-weight: 600;
}
.contact-page-button-box a{
    color:#00A980;
}

.gallery-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-image{
    width: 100%;
    max-width: 300px;
    height: auto;
}

.gallery-image-div{
    padding:10px;
    margin: 10px;
    max-width: 350px; 
}
.gallery-container p{
    max-width: 350px;
    margin: 5px;
    border: 1px dotted #715F58;
}

.contact-image-top {
    display: none;
}
#form-div {
    border: 5px solid #715F58;
    margin: 0 5px;
}

.form-input-container {
    display: flex;
    flex-direction: column;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    padding: 10px 5px;
}

.form-input-align {
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.form-input-align label{
    width: 90px;
}
.form-radio-input label{
    width:100%;
    margin-left: 15px;
}
.form-text-align{
    text-align: center;
}

#terms {
    display: none;
}

#submit-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-bottom-image-div{
    display: flex;
    justify-content: center;
}
.contact-image-bottom {
    max-width: 350px;
    margin: 20px 0 0 0;
}

.google-maps-align {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.address-align {
    background-color: #fafafa;
    text-align: center;
    width: 90%;
    border: 5px solid black;
    border-radius: 5%;
    height: 150px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.address-list {
    font-size: 16px;
    list-style-type: none;
}


.google-maps {
    max-width: 100%;
    list-style: none;
    transition: none;
    overflow: hidden;
    width: 100%;
    height: 250px;
    margin: 0;
}

.my-map-canvas {
    height: 100%;
    width: 100%;
    max-width: 100%;

}

#embedded-map-display {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.my-map-canvas iframe {
    height: 100%;
    width: 100%;
    border: 0;
}

.my-map-canvas img {
    max-height: none;
    max-width: none !important;
    background: none !important;
}

/*footer area*/
footer {
    background-color: #006954;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50px;
}
footer a{
    color:#EFFCF8;
}

/*larger devices (laptop and desktop)*/
@media only screen and (min-width: 992px) {

    /*header area*/
    header a {
        color: #fafafa;
    }

    nav {
        display: block;
        position: absolute;
        box-shadow: none;
        width: fit-content;
        top: 200px;
        left: 33%;
        background-color: unset;
    }

    .hero-container {
        display: flex;
        flex-direction: row;
    }

    .header-image-right {
        display: block;
    }

    .navbar-div {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 0;
    }
    #navbar-center{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

    #navbar-burger {
        display: flex;
    }

    #navbar-burger>li {
        padding-left: 2rem;
    }

    .navbar-toggle-label {
        display: none;
    }

    #website-name {
        font-size: 280%;
        line-height: 75px;
        position: absolute;
        top:185px;
        left:10px;

    }

    .homepage-text {
        display: flex;
        font-family: 'Montserrat', sans-serif;
        flex-direction: column;
        justify-content: space-between;
    }


    #bio-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .bio-image {
        min-height: 300px;
        max-height: 500px;
        min-width: 280px;
        max-width: 280px;
        padding-top: 33px;
    }

    #bio-column {
        display: flex;
        flex-direction: column;
    }

    #bio-text {
        padding: 10px 15px 10px 15px;
    }

    #owner-text {
        padding: 10px 15px 10px 15px;
    }

    .service-column {
        display: flex;
        flex-direction: row;
        margin: 15px;
    }

    .service-box {
        margin-left: 10px;
        padding: 15px 10px;
        border: 5px solid #715F58;
        background-color: #EFFCF8;
    }

    .gallery-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }
    .gallery-image-div{
        padding:10px;
        margin: 10px;
        max-width:  500px; 
    }
    .gallery-image{
        width: 50%;
        max-width: 350px;
        height:auto;
    }    
    .contact-form-align {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .contact-image-top {
        display: block;
        max-width: 30vw;
        margin: 20px 10px 20px 0;
    }
    
    #form-div {
        width: 30vw;
        border: 5px form #715F58;
        margin: 15px 0;
    }
    fieldset{
        border: 1px double #715F58;
    }

    #terms-link {
        display: hidden;
    }

    #terms {
        display: block;
        height: 200px;
        width: 90%;
        padding: 0.5rem;
        margin: 15px 5px;
        border: 5px solid #715F58;
        overflow: scroll;
        background-color: #EFFCF8;
    }
    .contact-image-bottom{
        max-width: 30vw;
        margin: 20px 10px 20px 0;
    }
    button {
        padding: 15px;
        margin: 20px;
    }

    .google-maps-align {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }

    .address-align {
        background-color: #fafafa;
        text-align: center;
        width: 35%;
        border: 5px solid #715F58;
        border-radius: 5%;
        height: 200px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .address-list {
        font-size: 16px;
        list-style-type: none;
    }

    .google-maps {
        max-width: 100%;
        list-style: none;
        transition: none;
        overflow: hidden;
        width: 65%;
        height: 250px;
        margin: 0;
    }
}